@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Share+Tech+Mono&display=swap');

/* font-family: 'Cutive Mono', monospace;
font-family: 'Share Tech Mono', monospace; */

body {
    text-align: center;
    border: solid 5px #4281a4;
    margin: 0 auto;
    margin: 10px;
    height: 200%;
    font-family: 'Cutive Mono', monospace;
}

h1 {
    font-family: 'Share Tech Mono', monospace;
    color: #22333b;
}

#timer {
    background-color: #e6b89c;
    color: #fff;
    width: 10%;
    padding: 10px;
    margin: 0 auto;
    border-radius: 3px;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

#modal-textbox {
    text-align: left;
	background-color: white;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
    width: 50%;
}

#modal-footer {
	text-align: center;
}

button {
	padding: 14px 18px;
	background-color: #fe938c;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	cursor: pointer;
    margin: 20px;
    font-family: 'Cutive Mono', monospace;
}

button:active {
    transform: translate(0, 2px);
}

#stack {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    width: 75%;
}

.stacks {
    background-color: #fff;
    border: solid 5px #4281a4;
    padding: 10px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.disks {
    height: 1.5rem;
    background: #22333b;
    cursor: pointer;
    margin-bottom: 3px;
}

.activeDisk {
    background-color: #22333b;
    transform: translate(0, -1.5rem);
    animation: pop 300ms ease-out 1;
}

.hidden {
    display: none;
}

span {
    text-decoration: underline;
}